<p>Food Show page!</p>

<h1><%= @food.food_description %></h1>

<%# @nutrients_amounts.each do |amount| %>
  <!-- <p><%#= amount.nutrient_value %></p> -->
<%# end %>


<% @nutrient_names.each do |name| %>
  <p><%#= name.nutrient_name %></p>
<% end %>
