<%= form_for :food, method: :get, url: foods_path, class: "form-horizontal" do |f| %>
  <fieldset class="row">
    <div class="col-xs-8">
      <%= f.text_field :search_food_name, class: "form-control form-horizontal", placeholder: "Search by name" %>
    </div>
    <div class="col-xs-4">
      <%= f.submit 'Search by name', class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<% @food_names.each do |each_food| %>
  <p><%= link_to each_food.food_name, food_path(each_food) %></p>
<% end %>
