<p id="notice"><%= notice %></p>

<h1>Diary Entries</h1>

<div id="calendar" style="width:100%;height:100%" data-userid="<%= current_user.id %>">
  calendar
</div>

<%= javascript_include_tag 'calendar' %>
