/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "materialize/components/color-variables";
$primary-color: color("deep-purple", "lighten-1") !default;
$secondary-color: color("amber", "accent-4") !default;
@import "materialize";

.primary {
  background: $primary-color;
}

.secondary {
  background: $secondary-color;
}

nav {
  letter-spacing: 1px;
  .tabs {
    height: 55px;
    line-height: 55px;
    .tab {
      height: 55px;
      line-height: 55px;
      .tab-icon {
        height: 35px;
        line-height: 50px;
      }
      .tab-name {
        height: 20px;
        line-height: 20px;
        font-size: 10px;
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  .yield-div {
    padding-top: 55px;
  }
}
